@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.ImagemCampinaCentral {
    background-image: url("../img/Campina\ noite.jpeg");
    background-size: cover; /* Para manter o tamanho original da imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
  }

.Altura{
    height: 90%;
}

.AlturaMaps{
  height: 70vh;
}

.HeightAltura{
  height: 10vh;
}

.TropeirosBackGorund {
  background-image: url('../src/assets_invista_cg/banner.png');
  background-size: contain; /* Redimensiona a imagem para caber dentro do elemento */
  background-repeat: no-repeat; /* Impede que a imagem se repita */
  background-position: bottom right ; /* Centraliza a imagem */
  height: 91vh; /* Faz o elemento ter a altura da janela */
}

